@font-face {
    font-family: Reckless;
    src: url(/fonts/Reckless.woff);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
}
html,
body {
    height: 100%;
    width: 100%;
}
main{
    width:100%;
    min-height: 100vh;
    background-color: rgb(251, 249, 235);
        padding: 1vw;
}

nav{
    width: 100%;
    background-color: #FFFEFB;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: Reckless;
    padding: 0.5vw 1vw;
    position: sticky;     
    top: 0;
    left: 0;
    border-radius: 1vw;
    
}

.nav-part-1{
    display: flex;
    gap:1rem;
    font-weight: 300px;
    font-size: 1rem;

    width: 33%;
   
}

.nav-part-1 h3{
    font-weight: 300;
}

.nav-part-2{
    width: 7vw;
    height: auto;
}

.nav-part-2 img{
    width: 100%;
    object-fit: cover;
}

.nav-part-3{
    display: flex;
    gap:1vw;
    /* width: 33%; */
    align-items: center;
    justify-content: end;
    
}
.nav-part-3 svg{
    width: 2vw;
}

.nav-part-3 h4{
    font-weight: 300;
}

.section-1{
    height: 100%;
    width: 100%;
    background-color: blue;
}